/*Переназначение стилей*/
body {font-family: Geneva, Arial, Helvetica, sans-serif;}
a {
    color: #164194;
}
.bg-primary {
    background-color: #164194 !important;
}
.bg-secondary {
    background-color: #161C2A !important;
}
.border-success {
    border-color: #164194 !important;
}
.bg-success {
    background-color: #164194 !important;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    background: #164194;
}
.portfolio .portfolio-item .portfolio-item-caption {
    background-color: #164194c4;
}
.btn-primary {
    background-color: #164194;
    border-color: #164194;
}
.footer {
    background-color: #161C2A;
}
hr.star-light::after {
    background-color: #164194;
}
hr.star-light::after, hr.star-dark::after {
    content: "!";
}
.copyright a {color: #fff;}

.full-news img {
    max-width: 100%;
    margin-bottom: 20px;
}
/*---Цитата и скрытый текст---*/
.scriptcode, .title_quote, .title_spoiler, .text_spoiler {
    padding: 5px;
    background: #f9fafa;
    border: 1px solid #dce7e7;overflow: hidden;
}

.quote {
    padding: 1% 4%;
    margin: 1em 0;
    border-left: 4px solid #164194;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    background: none;
}   
